.footer {
    background-color: var(--color-purple);

    &__inner {
        display: flex;
        flex-direction: column;
        row-gap: 32px;
        padding: 48px 34px;
        font-size: 16px;
    }

    &__menu-list {
        display: flex;
        justify-content: center;
        column-gap: 40px;
    }

    &__menu-link {
        position: relative;
        display: inline-flex;
        align-items: center;
        height: 34px;

        @include hover {
            &::after {
                width: 100%;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            translate: -50%;
            width: 0;
            height: 2px;
            border-radius: 3px;
            background-color: currentColor;
            transition-duration: var(--transition-duration);
        }
    }

    &__extra {
        display: flex;
        justify-content: center;
    }


}