.header {
    padding-top: 30px;

    &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 60px;

    }

    &__menu {
        margin-left: auto;
        font-size: 14px;

        &-list {
            display: flex;
            align-items: center;
            column-gap: 60px;
        }

        &-link {
            position: relative;
            display: inline-flex;
            align-items: center;
            height: 34px;

            @include hover {
                &::after {
                    width: 100%;
                }
            }

            &::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                translate: -50%;
                width: 0;
                height: 2px;
                border-radius: 3px;
                background-color: currentColor;
                transition-duration: var(--transition-duration);
            }
        }
    }
    &__switcher {

        display: inline-flex;
        flex-direction: row;
        column-gap: 8px;
        font-size: 14px;

        &-button {
        position: relative;
        height: 34px;
        color: currentColor;

        @include reset-button;

        }
    }
}