:root {
    --color-background: #0C0B3C;
    --color-font: #F9FAFB;
    --color-button: #F6F5FC;
    --color-purple: #4B2EC8;
    --color-white: #FFFFFF; 
    --color-gray: #6B7280;
    --color-dark-gray: #2F2F2F;
    --color-light-gray: rgba(134, 135, 137, 0.4);

    --border-radius: 8px;
    --border-radius-big: 10px;

    --font-family: 'Mont', sans-serif;

    --container-width: 1200px;
    --container-padding-x: 15px;

    --section-padding-y: 50px;

    --input-height: 32px;
    --button-height: 52px;

    --transition-duration: 0.2s;
 }