@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-background: #0C0B3C;
  --color-font: #F9FAFB;
  --color-button: #F6F5FC;
  --color-purple: #4B2EC8;
  --color-white: #FFFFFF;
  --color-gray: #6B7280;
  --color-dark-gray: #2F2F2F;
  --color-light-gray: rgba(134, 135, 137, 0.4);
  --border-radius: 8px;
  --border-radius-big: 10px;
  --font-family: "Mont", sans-serif;
  --container-width: 1200px;
  --container-padding-x: 15px;
  --section-padding-y: 50px;
  --input-height: 32px;
  --button-height: 52px;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: var(--color-font);
  background-color: var(--color-background);
}
body::after {
  background-color: var(--color-purple);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
}

.label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: var(--input-height);
  padding: 6px;
  font-size: 14px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color-gray);
}
.label:hover {
  border-bottom: 1px solid var(--color-purple);
}
.label__icon {
  display: inline-flex;
  width: 20px;
  aspect-ratio: 1;
}
.label__icon:hover {
  color: var(--color-purple);
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--button-height);
  padding: 16px 24px;
  font-size: 18px;
  letter-spacing: 0.7px;
  line-height: 1.33;
  border-radius: var(--border-radius);
  border: none;
  color: var(--color-button);
  background-color: var(--color-purple);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
}
@media (hover: hover) {
  .button:hover {
    background-color: #6F58D3;
  }
}
@media (hover: none) {
  .button:active {
    background-color: #6F58D3;
  }
}
.button:active {
  background-color: #2E1598;
}

.is-current::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 100%;
  height: 2px;
  border-radius: 3px;
  background-color: currentColor;
  transition-duration: var(--transition-duration);
}

.is-disabled {
  color: var(--color-gray);
}

.input {
  padding: 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color-gray);
  width: 100%;
  height: var(--input-height);
  padding: 6px;
}
@media (hover: hover) {
  .input:hover {
    border-bottom: 1px solid var(--color-purple);
  }
}
@media (hover: none) {
  .input:active {
    border-bottom: 1px solid var(--color-purple);
  }
}
.input:focus {
  outline: none;
  border-bottom: 2px solid var(--color-purple);
}
.input::-moz-placeholder {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.28;
  color: var(--color-light-gray);
}
.input::placeholder {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.28;
  color: var(--color-light-gray);
}
.input:focus::-moz-placeholder {
  opacity: 0;
}
.input:focus::placeholder {
  opacity: 0;
}
.input--file {
  opacity: 0;
}

.section:last-child {
  background: linear-gradient(0deg, rgb(75, 46, 200) 50%, rgb(12, 11, 60) 50%);
}

.header {
  padding-top: 30px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.header__menu {
  margin-left: auto;
  font-size: 14px;
}
.header__menu-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.header__menu-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 34px;
}
@media (hover: hover) {
  .header__menu-link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .header__menu-link:active::after {
    width: 100%;
  }
}
.header__menu-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  border-radius: 3px;
  background-color: currentColor;
  transition: 300ms;
}
.header__switcher {
  display: inline-flex;
  flex-direction: row;
  -moz-column-gap: 8px;
       column-gap: 8px;
  font-size: 14px;
}
.header__switcher-button {
  position: relative;
  height: 34px;
  color: currentColor;
  padding: 0;
  background-color: transparent;
  border: none;
}

.solution {
  padding-top: 80px;
  padding-bottom: 50px;
}
.solution__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.solution__item:first-child {
  grid-column: 1/-1;
}

.solution-card {
  --solutionCardPadding: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 440px;
  padding: var(--solutionCardPadding);
  border-radius: var(--border-radius);
  background-color: rgba(255, 255, 255, 0.05);
}
.solution-card--big {
  align-items: stretch;
  row-gap: 64px;
  padding: 40px;
}
.solution-card__image--backdrop {
  position: absolute;
  z-index: -1;
  right: var(--solutionCardPadding);
  bottom: calc(var(--button-height) + var(--solutionCardPadding) + 11px);
}
.solution-card__tools {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  -moz-column-gap: 36px;
       column-gap: 36px;
}

.contact-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 74px 109px 54px 80px;
  min-height: 506px;
  border-radius: var(--border-radius-big);
  color: var(--color-gray);
  background-color: var(--color-white);
}
.contact-us--inner {
  padding-top: 50px;
  padding-bottom: 13px;
}
.contact-us__info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  font-weight: 400;
  max-width: 404px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.2px;
}
.contact-us__title {
  margin-bottom: 22px;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.28;
  color: var(--color-dark-gray);
}
.contact-us__description {
  margin-bottom: 14px;
  letter-spacing: 0.4px;
}
.contact-us__email {
  line-height: 1.33;
  letter-spacing: 0.4px;
}
.contact-us__link {
  font-weight: 700;
  letter-spacing: 0.5px;
  color: var(--color-purple);
}
.contact-us__form {
  display: flex;
  flex-direction: column;
}
.contact-us__body {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin-bottom: 10px;
  color: var(--color-light-gray);
}
.contact-us__types {
  align-self: flex-end;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.4px;
}
.contact-us__button {
  margin-top: auto;
  width: 155px;
  height: 56px;
  align-self: flex-end;
}

.soc1als__list {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 38px;
       column-gap: 38px;
}
.soc1als__item {
  display: inline-flex;
}

.footer {
  background-color: var(--color-purple);
}
.footer__inner {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding: 48px 34px;
  font-size: 16px;
}
.footer__menu-list {
  display: flex;
  justify-content: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.footer__menu-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 34px;
}
@media (hover: hover) {
  .footer__menu-link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .footer__menu-link:active::after {
    width: 100%;
  }
}
.footer__menu-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  border-radius: 3px;
  background-color: currentColor;
  transition-duration: var(--transition-duration);
}
.footer__extra {
  display: flex;
  justify-content: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Затемнение фона */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Контейнер внутри модального окна */
.modal-content {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 600px;
  position: relative;
}

/* Кнопка закрытия */
/* Показываем модальное окно */
.modal.show {
  opacity: 1;
  visibility: visible;
}/*# sourceMappingURL=styles.css.map */